// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#td {
  .padding: 20px;
    }
#body { 
    background-color:blue; 
    }
#table {
    width: 100%;
    }
#th, td {
    padding: 15px;
    text-align: left;
    }